text {
	font: 14px Lato;
	stroke: none;
	cursor: default;
	fill: #555555;
}

#content {
	width: 95%;
	max-width: 1400px;
}

.svg {
	width: 100%;
}

.topSong-genre rect {
	stroke-width: 3;
	fill: none;
}

.topSong-genre {
	cursor: pointer;
}

.topSong-genre text {
	text-anchor: middle;
	cursor: pointer !important;
}

.topSong-name {
	text-anchor: end;
}