text {
	font: 14px Lato;
	stroke: none;
	cursor: default;
	fill: #555555;
}

#content {
	width: 95%;
	max-width: 1400px;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.svg {
	width: 100%;
}

.legend {
	cursor: pointer;
}

.legend rect {
	stroke-width: 3;
	fill: none;
}

.legend text {
	text-anchor: middle;
	cursor: pointer !important;
}

.top-name {
	text-anchor: end;
}